.main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.city {
  flex: 1;
  background-color: chocolate;
}

.job {
  flex: 1;
  background-color: darkgreen;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn{
  display: flex;
  margin: 0 auto;
}