body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: auto repeat;
  background-image: url('https://raw.githubusercontent.com/ChuanPien/LineBot_Updating/main/lib/bg.jpg');
}

.main {
  text-align: center;
  justify-content: center;
  background-color: #ffffff85;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

h1 {
  margin-bottom: 10px;
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

select {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}

input {
  background: none;
  width: 70%;
  font-size: 16px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  cursor: pointer;
  border: 2px solid;
  border-radius: 7px;
  color: #fff;
  background-color: #337ab7;
  transition: .5s;
}

.btn-clear{
  background-color: #b73333;
}

.btn:hover {
  color: #000000;
  background-color: #ffffff;
}